<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
    }

    .details {
        text-align: left; 
        padding: 20px;
        border: 1px solid #33333333; 
        border-radius: 10px; 
    }
</style>

<body>
    <div class="details">
        <h2>User Details</h2>
        <p><strong>ID:</strong> <%= user.id %></p>
        <p><strong>First Name:</strong> <%= user.firstName %></p>
        <p><strong>Last Name:</strong> <%= user.lastName %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Password:</strong> <%= user.password %></p>
        <p><strong>DOB:</strong> <%= user.dob %></p>
        <p><strong>Company:</strong> <%= user.company %></p>
        <p><strong>Phone:</strong> <%= user.phone %></p>
        <a href="/list">Back to the list</a>
    </div>
</body>

